<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-sms-sender"
        version="1.0.0">
    <name>SMS Sender Cordova Plugin</name>
    <description></description>
    <license>Apache 2.0</license>
    <keywords>cordova,sms,sender</keywords>
    <repo></repo>
    <issue></issue>
    <engines>
        <engine name="cordova-plugman" version=">=4.2.0"/>
    </engines>

    <js-module src="www/smssenderplugin.js" name="SMSSenderPlugin">
        <merges target="sMSSenderPlugin" />
    </js-module>
    
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.SEND_SMS" />
        </config-file>
        <source-file src="src/android/SMSSenderPlugin.java" target-dir="src/com/ferdinandsilva/android" />
    </platform>
</plugin>